.section {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}

.section__title {
  font-weight: 500;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  color: var(--white)
}

.section__subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  color: var(--white)
}

.section__container {
   display: flex;
   justify-content: center;
   padding: 0.5rem;
}
